body {
    background-image: url(img/pizza1.jpeg);
    background-color: rgb(85, 89, 96);
    background-blend-mode:soft-light;
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    font-family: 'JetBrains Mono', monospace;
    color: white;
}

h4 {
    color: black;
    font-style: italic;
    font-weight: bold;
}

.jumbotron {
    background-color: rgb(229, 238, 229);
    max-height: auto;
    padding: 1px;
    text-align: center;
    color: black;
    padding: 15px;
}

.jumbotron .img {
    width: auto;
    height: auto;
}

.card {
    background-color: rgba(235, 227, 227, 0.7);
    border: black 5px solid;
    text-align: center;
    color: black;
    margin: 5px;
    height: 100%;
}

.footer {
    background-image: linear-gradient(rgb(7, 7, 7), rgb(100, 97, 92), rgb(150, 150, 146));
    padding: 10px 0;
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 100%;
    height: auto;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.tab-content{
    background-color: rgb(120, 117, 117);
    border-color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: 95%;
}

a {
    color: grey;
}